@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.filter{
    border:  1px solid transparent;
    margin-top: 10vh;
}

.searchbar{
    position: relative;
}
.container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
    cursor: pointer;
}
.container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}
.container input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.container input:hover {
    cursor: pointer;
}
.container input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}
.container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}
.container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.container input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.filters{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid transparent;
    margin-top: 10vh !important;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

.listChoice{
  width:20vw;
  margin:1vw 3vw;
  position: relative;
  cursor: pointer; 
  font-size: 2vw;
}
.listChoice input[type="radio"]{
  position:absolute;
  left:-9999px;
}

.listChoiceTitle {
width: 100%;
display: block;
background: white;
text-align: center;
padding: 0.55em 1em;
box-sizing: border-box;
color: black;
text-shadow: 0 1px 0 white;
border-radius: 0.2em;
}
.listChoice:hover .listChoiceTitle {
border-radius:0.2em 0.2em 0 0;
}
.listChoiceObjects label:nth-last-of-type(1) span{
  border-radius:0 0 0.2em 0.2em;
}
.listChoice input[type="radio"] + span {
color: black;
background: white;
padding: 0.55em 1em;
display: block;
text-align: center;
box-sizing: border-box;
cursor: pointer;
width: 100%;
}
.listChoiceObjects {
position: absolute;
top: 0;
padding-top: 2.1em;
box-sizing: border-box;
width: 100%;
overflow: hidden;
max-height: 0;
transition: all 250ms ease;
}
.listChoice:hover .listChoiceObjects  input[type="radio"] + span {
position: relative;
top: 0;
transition: all 250ms ease-in-out;
}
.listChoice:hover input[type="radio"] + span:hover {
background:crimson;
}
.listChoice:hover input[type="radio"]:checked + span:hover {
background:crimson;
}
.listChoice input[type="radio"]:checked + span {
background: crimson;
position: absolute;
top: 0em;
border-radius: 0.2em;
}
.listChoice:hover input[type="radio"]:checked + span {
border-radius: 0;
}
.listChoice:hover .listChoiceObjects label:nth-last-of-type(1) input[type="radio"]:checked + span{
  border-radius:0 0 0.2em 0.2em;
}

.listChoice:hover .listChoiceObjects {
max-height: 540px;
}